html {
    font-family: "Times New Roman", serif;
    font-size: 22px;
}
body {
    padding: 40px;
    background: #d5d6a1 fixed;
    background-size: cover;
}
ul {
    margin-left: 100px;
    display: inline-block;
    background: #b89f92;
    text-align: left;
}

.toDelete{
    text-align: center;
    color: darkred;
}
.text{
    color: black;
}